.Peachrow{
background-color: rgb(244, 156, 90);
}
.Violetrow{
    background-color: rgb(209, 130, 234);
    }
.lightpinkrow{
    background-color: rgb(241, 219, 236);
    }
 .khakirow{
    background-color: rgb(195, 140, 51);
    }
 .Greenrow{
    background-color: rgb(172, 234, 132);
    }
 .Lightbluerow{
    background-color: rgb(204, 210, 246);
     }
 .fadeyelllowrow{
    background-color: rgb(218, 207, 153);
    }
 .bluerow{
   background-color: rgb(66, 132, 239);
   }
  .camelyellow{
    background-color: rgb(245, 229, 112);
   }
 .camelbrightyellow{
    background-color: rgb(246, 227, 79);
    }
.fontblack{
    color: black;
    }
.fontgreen{
        color:green;
}
.fontblue{
    color:blue;
    }
.fontred{
        color: red;
        }
.fontred{
     color:brown;
         }     
